body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Cambié el fondo principal a un tono gris claro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333; /* Texto oscuro para contrastar */
}

.container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ff6600; /* Color naranja para encabezados */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #ff6600; /* Botón naranja */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #e65c00; /* Tono más oscuro al pasar el ratón */
}

#main-container {
  text-align: left;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button,
select,
input[type="text"] {
  transition: background-color 0.3s ease;
}
